body {
  background-color: rgba(0, 0, 0, 0.02);
}

p {
  line-height: 200%;
}

a {
  color: #333;
}

a:hover {
  color: #333;
}

pre {
  overflow: auto;
}

code {
  background:rgba(200,200,200, 0.2);
  padding:6px;
  font-size: 14.8px;
  line-height: 2em;
}

div.ui.divider.footer-divider {
  margin-top: 5em;
}

.ui.large.pointing.secondary.menu {
  border-bottom: 1px solid rgba(34,36,38,.15);
}