* {
	outline: none;
}

body {
  background-color: rgb(250, 250, 250);
}

p {
  line-height: 200%;
}

a {
  color: #333;
}

a:hover {
  color: #333;
}

code {
  background:rgba(200,200,200, 0.2);
  border-radius: 10px;
  padding:6px;
  font-size: 14.8px;
  line-height: 2em;
  color: cadetblue;
  margin: 0px 0.5em;
}

.colorscripter-code-table {
  width: 100%;
}

.colorscripter-code-table div {
  font-size: 90%;
}

div.ui.divider.footer-divider {
  margin-top: 5em;
}

.ui.large.pointing.secondary.menu {
  border-bottom: 1px solid rgba(34,36,38,.15);
}

.ui.large.pointing.secondary.top.fixed.menu {
  background-color: rgb(250, 250, 250); 
}

.scroll {
  opacity: 0.7;
  background-color: rgba(250, 250, 250, 0.9);
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  border-radius: 200px; 
  border: none;
  animation: bounce 2s infinite alternate;
  -webkit-animation: bounce 2s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}